@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --light-clr: #f5f2ef;
    --grey: #838383;
    --main-font-clr: #2e2e2e;
    --blue: #203349;
    --light-blue: #18c9ff;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.6em;
    background-color: var(--light-clr);
    color: var(--main-font-clr);
}

/*---------TYPOGRAPHY---------*/

h1 {
    font-size: 2.5rem;
    line-height: 4rem;
    margin-bottom: 50px;
    font-weight: 400;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.26);
}

h2 {
    font-size: 1.5rem;
    line-height: 1.3em;
    margin-bottom: 20px;
}

.heading strong {
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--light-blue);
}

.main-content strong {
    font-size: 20px;
    font-weight: 800;
    color: var(--light-blue);
    margin-left: 20px;
}

hr {
    border: 0;
    height: 1px;
    background: rgb(107, 107, 107);
    background-image: linear-gradient(to right, #ccc, rgb(146, 146, 146), #ccc);
    margin-bottom: 20px;
}

@media only screen and (min-width: 600px) {
    h1 {
        font-size: 4rem;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.26);
        line-height: 6rem;
    }
    h2 {
        font-size: 1.5em;
        margin-bottom: 20px;
    }
    .heading strong {
        font-size: 6rem;
        letter-spacing: -2px;
    }
}

/*---------NAV---------*/

nav {
    background-color: var(--light-clr);
    padding: 0.8rem 5%;
    width: 100vw;
}

.nav-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#main-logo {
    width: 120px;
    transition: transform .2s;
    height: 35px;
    margin: 0;
}

#kontakt-oss {
    text-decoration: none;
    color: var(--main-font-clr);
    font-weight: 500;
    margin: 0;
}

#kontakt-oss:hover {
    transform: scale(1.1);
    color: var(--light-blue);
}

#kontakt-oss:active {
    color: var(--light-blue);
}


/*---------HEADER---------*/

.index-header {
    background:  linear-gradient(to bottom, rgba(0, 0, 0, 0.795), rgba(0, 0, 0, 0)), url(../img/Fjellheisen.jpg) var(--blue);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    text-align: center;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}



.heading {
    padding: 70px 30px;
    max-width: 800px;
}

/*---------MAIN---------*/

main {
    padding: 40px 20px;
    background-color: var(--light-clr);
    text-align: center;
}

/*---------DATOER---------*/
.main-dato {
    color: var(--light-clr);
    text-align: center;
    color: var(--main-font-clr);
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 2rem;
    }
}

.main-dato p {
    max-width: 450px;
}

.main-dato ul {
    margin-top: 30px;
    font-weight: 600;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul li {
    display: inline-block;
    font-size: 18px;
    padding: 10px 10px;
}

@media only screen and (min-width: 600px) {
    .main-1 ul {
        flex-direction: row;
    }
}

/*---------PRISER---------*/

.main-content-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 800px;
}

.main-content {
    background-color: #ffffff;
    padding: 40px 30px;
    width: 300px;
    border-radius: 10px;
    box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.041);
}

.main-content p {
    margin-bottom: 1rem;
}

.main-tillegg {
    margin-top: 20px;

}

/*---------BUTTON---------*/

.main-tillegg a {
    text-decoration: none;
}

.main-tillegg button {
    background-color: var(--light-blue);
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 50px;
    border: none;
    padding: 10px 30px;
    margin-top: 30px;
    cursor: pointer;
}

.main-tillegg button:hover {
    background-color: #0e9fd8;;
}

/*---------KONTAKTSIDE----------------------------
--------------------------------------------------
--------------------------------------------------*/

#tilbake {

}

#kontakt-header {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)), url(../img/tromso.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60vh;
    color: white;
}

/*---------KOPNTAKTER---------*/

.kontakt-container {
    padding: 30px 20px;
    display: grid;
    grid-template-columns: 1fr;
}

.kontakt-card {
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 0rem;
    max-width: 350px;
}


.kontakt-img {
    min-width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.kontakt-info a {
    padding-right: 20px;
    text-decoration: none;
    color: var(--main-font-clr);
    font-size: 0.8rem;
    line-height: 0.2rem;
}

h5 {
    font-style: italic;
    color: var(--grey);
    font-weight: 400;
    font-size: 12px;
}

#kontakt-header h2 {
    font-size: 3rem;
    text-align: center;
}

@media only screen and (min-width: 850px) {

    .kontakt-container {
        grid-template-columns: 1fr 1fr;
        max-width: 1000px;
        padding: 60px 20px;
    }
    .kontakt-card {
        padding: 2rem 0rem;
        max-width: 450px;
    }
    .kontakt-img {
        min-width: 150px;
        height: 150px;
        margin-right: 15px;
    }
}


/*---------FOOTER---------*/

footer {
    margin-top: 20px;
    background-color: var(--blue);
    padding: 60px 20px;
    line-height: 1.8em;
    letter-spacing: 0.5px;
}

.footer-items {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.footer-img {
    width: 120px;
    margin-bottom: 30px;
}

footer a {
    text-decoration: none;
    color: var(--light-clr);
    color: var(--light-clr);
}